@charset "utf-8";

@font-face {
  font-family: "GowunBatang-Bold";
  src: url(../webfonts/GowunBatang-Bold.woff) format("woff");
}
@font-face {
  font-family: "VarelaRound-Regular";
  src: url(../webfonts/VarelaRound-Regular.woff) format("woff");
}
@font-face {
  font-family: "KumbhSans-Regular";
  src: url(../webfonts/KumbhSans-Regular.woff) format("woff");
}
@font-face {
  font-family: "Dosis";
  src: url(../webfonts/Dosis-VariableFont_wght.woff) format("woff");
}
@font-face {
  font-family: "Orbit";
  src: url(../webfonts/Orbit-Regular.woff) format("woff");
}
@font-face {
  font-family: "NanumGothic";
  src: url(../webfonts/Orbit-Regular.woff) format("woff");
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
html,
body {
  position: relative;
  height: 100%;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.swiper {
  width: 100%;
  height: 100%;
}
.menu {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 5;
  top: 0;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  padding: 0 10px;
}
.menu div {
  width: 15%;
  height: 100%;
  font-size: 18px;
  font-family: "KumbhSans-Regular";
}
.menu > div ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
}
.menu > div ul li {
  width: 50px;
  letter-spacing: 10px;
}
.menu > ul {
  width: 55%;
  display: flex;
  line-height: 50px;
  text-align: center;
}
.menu > ul li {
  width: 30%;
  height: 100%;
  color: #000;
  font-size: 20px;
  cursor: pointer;
}
.menu > ul > li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
}
.menu > ul > li a:hover,
.menu > ul > li a.on {
  background: #000;
  color: #fff;
  font-weight: bold;
  transition: 1s;
}
.menu .menubar {
  display: none;
}
.menu .menubar p {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu .menubar p span {
  display: block;
  width: 25px;
  height: 3px;
  background: #000;
  margin: 3px 0;
  transition: transform 0.5s ease-in;
}
.menu .menubar .bar1.on {
  transform: translate(0, 9px) rotate(45deg);
}
.menu .menubar .bar2.on {
  opacity: 0;
}
.menu .menubar .bar3.on {
  transform: translate(0, -9px) rotate(-45deg);
}
.menu .nav {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 0;
  background: #ccc;
  overflow: hidden;
  transition: 0.5s;
  z-index: 10;
}
.menu .nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
}
.menu .nav ul li {
  height: 50px;
}
.slide1 {
  width: 100%;
  height: 100vh;
}
.slide1 .txt {
  width: 65%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.slide1 .txt ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slide1 .txt ul li {
  width: 100%;
  color: #000;
  font-size: 35px;
  font-family: "VarelaRound-Regular", "Orbit";
}
.slide1 .txt ul li strong {
  color: #000;
}
.slide1 .txt ul li:nth-child(1) {
  font-size: 128px;
  font-family: "GowunBatang-Bold";
  margin-bottom: 20px;
}
.slide2 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
}
.slide2 .left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0 0 0;
}
.slide2 .left img {
  width: 450px;
  margin: 0 auto;
  border-radius: 20px;
}
.slide2 .right {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slide2 .right img {
  width: 50px;
}
.slide2 .right div {
  width: 65%;
  margin: 40px 0;
  font-size: 30px;
  font-weight: bold;
  font-family: "GowunBatang-Bold";
}
.slide2 .right p {
  font-size: 30px;
  color: #000;
}
.slide2 .right > ul {
  width: 90%;
}
.slide2 .right > ul > li {
  margin: 10px 0 60px 0;
  font-size: 25px;
  font-family: "VarelaRound-Regular", "NanumGothic";
  display: flex;
}
.slide2 .right > ul > li ul:nth-of-type(1) {
  margin-right: 20px;
}

.slide2 .right > ul:nth-of-type(2) > li > ul {
  display: flex;
  flex-wrap: wrap;
}
.slide2 .right > ul:nth-of-type(2) > li > ul li {
  margin-right: 20px;
  height: 60px;
}
.slide2 .right > ul:nth-of-type(2) > li > ul li:nth-of-type(3) img {
  width: 34px;
}
.slide2 .right > ul:nth-of-type(2) > li > ul li:nth-of-type(7) img {
  width: 110px;
}
.slide2 .right > ul > li > ul > li {
  height: 35px;
  line-height: 35px;
}
.slide3 {
  width: 100%;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  position: relative;
}
.slide3 .background {
  background: #eee;
  border-radius: 20px;
  text-align: center;
  width: 90%;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.slide3 img {
  width: 120%;
}
.slide3 .left {
  width: 55%;
}
.slide3 .right {
  width: 40%;
  font-size: 26px;
}
.slide3 .right p {
  font-size: 60px;
  margin-bottom: 20px;
}
.slide3 .right ul li {
  margin-bottom: 10px;
}
.slide3 .right ul li:nth-child(5) {
  margin-top: 30px;
}
.slide3 .right ul li a {
  color: #000;
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px 30px;
  transition: 0.5s;
  letter-spacing: 10px;
}
.slide3 .right ul li a:hover {
  background: #000;
  color: #fff;
}
.slide4 {
  width: 100%;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  position: relative;
}
.slide4 .background {
  background: #eee;
  border-radius: 20px;
  text-align: center;
  width: 90%;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.slide4 img {
  width: 120%;
}
.slide4 .left {
  width: 55%;
}
.slide4 .right {
  width: 40%;
  font-size: 26px;
}
.slide4 .right p {
  font-size: 60px;
  margin-bottom: 20px;
}
.slide4 .right ul li {
  margin-bottom: 10px;
}
.slide4 .right ul li:nth-child(5) {
  margin-top: 30px;
}
.slide4 .right ul li a {
  color: #000;
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px 30px;
  transition: 0.5s;
  letter-spacing: 10px;
}
.slide4 .right ul li a:hover {
  background: #000;
  color: #fff;
}
.slide5 {
  width: 100%;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  position: relative;
}
.slide5 .background {
  background: #eee;
  border-radius: 20px;
  text-align: center;
  width: 90%;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.slide5 img {
  width: 120%;
}
.slide5 .left {
  width: 55%;
}
.slide5 .right {
  width: 40%;
  font-size: 26px;
}
.slide5 .right p {
  font-size: 60px;
  margin-bottom: 20px;
}
.slide5 .right ul li {
  margin-bottom: 10px;
}
.slide5 .right ul li:nth-child(5) {
  margin-top: 30px;
}
.slide5 .right ul li a {
  color: #000;
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px 30px;
  transition: 0.5s;
  letter-spacing: 10px;
}
.slide5 .right ul li a:hover {
  background: #000;
  color: #fff;
}
.slide6 {
  width: 100%;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  position: relative;
}
.slide6 .background {
  background: #eee;
  border-radius: 20px;
  text-align: center;
  width: 90%;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.slide6 img {
  width: 120%;
}
.slide6 .left {
  width: 55%;
}
.slide6 .right {
  width: 40%;
  font-size: 26px;
}
.slide6 .right p {
  font-size: 55px;
  margin-bottom: 20px;
}
.slide6 .right ul li {
  margin-bottom: 10px;
}
.slide6 .right ul li:nth-child(5) {
  margin-top: 30px;
}
.slide6 .right ul li a {
  color: #000;
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px 30px;
  transition: 0.5s;
  letter-spacing: 10px;
}
.slide6 .right ul li a:hover {
  background: #000;
  color: #fff;
}
.contact {
  width: 100%;
  height: 100vh;
  text-align: center;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact .desc {
  margin: 0 auto;
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: center;
}
.contact h1 {
  font-size: 100px;
}
.contact img {
  width: 250px;
  margin-left: 50px;
}
.contact ul {
  font-size: 100px;
  font-family: "Dosis";
}
.contact ul li {
  display: flex;
  align-items: center;
}
.contact ul li i {
  margin-right: 30px;
}
.contact .copyright {
  position: fixed;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%);
}
.swiper-pagination-bullet {
  width: 10px;
  height: 5px;
  margin: 20px 0px !important;
  background: transparent;
  border-radius: 10px !important;
  border: 3px solid #ccc !important;
  opacity: 1;
  transition: 0.5s;
}
.swiper-pagination-bullet-active {
  transform-origin: right;
  border-radius: 10px;
  background: #000 !important;
  border: 3px solid transparent !important;
}

@media all and (max-width: 1024px) {
  .menu {
    padding: 0 15px;
  }
  .menu div {
    font-size: 18px;
  }
  .menu > div ul li {
    width: 70px;
  }

  .menu > ul {
    width: 65%;
    display: flex;
    line-height: 50px;
    text-align: center;
  }
  .menu > ul li {
    width: 25%;
    height: 100%;
    color: #000;
    font-size: 20px;
    cursor: pointer;
  }
  .slide1 .txt {
    width: 850px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .slide1 .txt ul li {
    width: 100%;
    color: #000;
    font-size: 28px;
    font-family: "VarelaRound-Regular";
  }
  .slide2 {
    display: flex;
    justify-content: space-between;
    color: #000;
  }
  .slide2 .left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .slide2 .left ul {
    width: 60%;
    margin: 0 auto;
  }
  .slide2 .left img {
    width: 350px;
  }
  .slide2 .right p {
    font-size: 28px;
  }
  .slide2 .right div {
    width: 90%;
    font-size: 28px;
  }
  .slide2 .right > ul {
    width: 92%;
  }
  .slide2 .right > ul > li {
    margin: 20px 0 60px 0;
    font-size: 24px;
    font-family: "VarelaRound-Regular", "NanumGothic";
    display: flex;
  }
  .slide2 .right > ul > li ul:nth-of-type(1) {
    margin-right: 20px;
  }
  .slide2 .right > ul:nth-of-type(2) > li > ul {
    display: flex;
  }
  .slide2 .right > ul:nth-of-type(2) > li > ul li {
    margin-right: 20px;
  }
  .slide2 .right > ul:nth-of-type(2) > li > ul li img {
    width: 45px;
  }
  .slide2 .right > ul:nth-of-type(2) > li > ul li:nth-of-type(3) img {
    width: 35px;
  }
  .slide2 .right > ul:nth-of-type(2) > li > ul li:nth-of-type(7) img {
    width: 100px;
  }
  .slide3 img {
    width: 120%;
  }
  .slide3 .right {
    width: 40%;
  }
  .slide3 .right p {
    font-size: 50px;
  }
  .slide3 .right ul li {
    font-size: 20px;
  }
  .slide3 .right ul li a {
    font-size: 18px;
    padding: 8px 20px;
    transition: 0.5s;
    letter-spacing: 8px;
  }
  .slide4 img {
    width: 120%;
  }
  .slide4 .right {
    width: 40%;
  }
  .slide4 .right p {
    font-size: 50px;
  }
  .slide4 .right ul li {
    font-size: 20px;
  }
  .slide4 .right ul li a {
    font-size: 18px;
    padding: 8px 20px;
    transition: 0.5s;
    letter-spacing: 8px;
  }
  .slide5 img {
    width: 120%;
  }
  .slide5 .right {
    width: 40%;
  }
  .slide5 .right p {
    font-size: 50px;
  }
  .slide5 .right ul li {
    font-size: 20px;
  }
  .slide5 .right ul li a {
    font-size: 18px;
    padding: 8px 20px;
    transition: 0.5s;
    letter-spacing: 8px;
  }
  .slide6 img {
    width: 120%;
  }
  .slide6 .right {
    width: 40%;
  }
  .slide6 .right p {
    font-size: 45px;
  }
  .slide6 .right ul li {
    font-size: 20px;
  }
  .slide6 .right ul li a {
    font-size: 18px;
    padding: 8px 20px;
    transition: 0.5s;
    letter-spacing: 8px;
  }
  .contact h1 {
    font-size: 80px;
  }
  .contact img {
    width: 150px;
    margin-left: 30px;
  }
  .contact ul {
    font-size: 70px;
    font-family: "Dosis";
  }
  .contact ul li i {
    margin-right: 30px;
  }
  .contact .copyright {
    width: 100%;
    font-size: 18px;
  }
}
@media all and (max-width: 790px) {
  .menu {
    width: 99%;

    padding: 0 10px;
  }

  .menu > ul {
    display: none;
  }
  .menu .menubar {
    display: block;
    width: 5%;
    padding-right: 10px;
  }
  .menu .menubar .bar1.on {
    transform: translate(0, 9px) rotate(45deg);
  }
  .menu .menubar .bar2.on {
    opacity: 0;
  }
  .menu .menubar .bar3.on {
    transform: translate(0, -9px) rotate(-45deg);
  }
  .menu .nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu .nav ul li {
    width: 100%;
    text-align: center;
    margin: 15px 0;
    font-size: 22px;
  }
  .slide1 .txt {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .slide1 .txt ul {
    height: 90%;
  }
  .slide1 .txt ul strong {
    font-size: 90px;
  }
  .slide1 .txt ul li {
    width: 100%;
    color: #000;
    font-size: 26px;
    font-family: "VarelaRound-Regular";
  }
  .slide2 {
    display: flex;
    justify-content: space-between;
    color: #000;
  }
  .slide2 .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .slide2 .left img {
    width: 260px;
  }
  .slide2 .right {
    width: 90%;
  }
  .slide2 .right p {
    font-size: 26px;
  }
  .slide2 .right div {
    width: 90%;
    font-size: 26px;
  }
  .slide2 .right > ul {
    width: 92%;
  }
  .slide2 .right > ul > li {
    margin: 20px 0 60px 0;
    font-size: 23px;
    font-family: "VarelaRound-Regular", "NanumGothic";
    display: flex;
  }
  .slide2 .right img {
    width: 30px;
  }
  .slide2 .right > ul > li ul:nth-of-type(1) {
    margin-bottom: 20px;
  }
  .slide2 .right > ul:nth-of-type(2) > li > ul {
    display: flex;
    flex-wrap: wrap;
  }
  .slide2 .right > ul:nth-of-type(2) > li > ul li {
    margin: 0px 20px 20px 0;
    height: 40px;
  }
  .slide2 .right > ul:nth-of-type(2) > li > ul li img {
    width: 40px;
  }
  .slide2 .right > ul:nth-of-type(2) > li > ul li:nth-of-type(3) img {
    width: 25px;
  }
  .slide2 .right > ul:nth-of-type(2) > li > ul li:nth-of-type(7) img {
    width: 80px;
  }
  .slide3 img {
    width: 120%;
  }
  .slide3 .right {
    width: 40%;
  }
  .slide3 .right p {
    font-size: 40px;
  }
  .slide3 .right ul li {
    font-size: 15px;
  }
  .slide3 .right ul li a {
    font-size: 16px;
    padding: 4px 20px;
    letter-spacing: 4px;
  }
  .slide3 .right ul li:nth-child(5) {
    margin-top: 30px;
  }
  .slide4 img {
    width: 120%;
  }
  .slide4 .right {
    width: 40%;
  }
  .slide4 .right p {
    font-size: 40px;
  }
  .slide4 .right ul li {
    font-size: 15px;
  }
  .slide4 .right ul li a {
    font-size: 16px;
    padding: 4px 20px;
    letter-spacing: 4px;
  }
  .slide4 .right ul li:nth-child(5) {
    margin-top: 30px;
  }
  .slide5 img {
    width: 120%;
  }
  .slide5 .right {
    width: 40%;
  }
  .slide5 .right p {
    font-size: 40px;
  }
  .slide5 .right ul li {
    font-size: 15px;
  }
  .slide5 .right ul li a {
    font-size: 16px;
    padding: 4px 20px;
    letter-spacing: 4px;
  }
  .slide5 .right ul li:nth-child(5) {
    margin-top: 30px;
  }
  .slide6 img {
    width: 120%;
  }
  .slide6 .right {
    width: 40%;
  }
  .slide6 .right p {
    font-size: 30px;
  }
  .slide6 .right ul li {
    font-size: 15px;
  }
  .slide6 .right ul li a {
    font-size: 16px;
    padding: 4px 20px;
    letter-spacing: 4px;
  }
  .slide6 .right ul li:nth-child(5) {
    margin-top: 30px;
  }
  .contact h1 {
    font-size: 80px;
  }
  .contact img {
    width: 110px;
    margin-left: 30px;
  }
  .contact ul {
    font-size: 50px;
    font-family: "Dosis";
  }
  .contact ul li i {
    margin-right: 20px;
  }
  .contact .copyright {
    width: 100%;
    font-size: 18px;
  }
  .contact .copyright {
    width: 100%;
    font-size: 17px;
  }
}
@media all and (max-width: 665px) {
  .slide2 .left {
    width: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .slide2 .left img {
    width: 0px;
  }
  .slide2 .right p {
    font-size: 24px;
  }
  .slide2 .right div {
    width: 90%;
    font-size: 24px;
  }
  .slide2 .right > ul {
    width: 90%;
  }
  .slide2 .right > ul > li {
    margin: 20px 0 60px 0;
    font-size: 22px;
  }
  .slide2 .right > ul > li ul:nth-of-type(1) {
    margin-bottom: 20px;
  }

  .slide2 .right > ul:nth-of-type(2) > li > ul li {
    margin: 0px 20px 20px 0;
    height: 40px;
  }
  .slide2 .right > ul:nth-of-type(2) > li > ul li img {
    width: 40px;
  }
  .slide2 .right > ul:nth-of-type(2) > li > ul li:nth-of-type(3) img {
    width: 25px;
  }
  .slide2 .right > ul:nth-of-type(2) > li > ul li:nth-of-type(7) img {
    width: 80px;
  }
}
@media all and (max-width: 600px) {
  .menu {
    height: 50px;
  }
  .menu div {
    font-size: 15px;
    font-family: "KumbhSans-Regular";
  }
  .menu > ul {
    display: none;
  }
  .menu .menubar {
    display: block;
    width: 7%;
    padding-right: 15px;
  }
  .menu .menubar p {
    margin: 0 10px;
  }
  .menu .menubar .bar1.on {
    transform: translate(0, 9px) rotate(45deg);
  }
  .menu .menubar .bar2.on {
    opacity: 0;
  }
  .menu .menubar .bar3.on {
    transform: translate(0, -9px) rotate(-45deg);
  }
  .menu .nav ul li {
    width: 100%;
    text-align: center;
    margin: 15px 0;
    font-size: 18px;
  }
  .slide1 .txt {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .slide1 .txt ul {
    height: 90%;
  }
  .slide1 .txt ul strong {
    font-size: 65px;
  }
  .slide1 .txt ul li {
    width: 100%;
    color: #000;
    font-size: 20px;
    font-family: "VarelaRound-Regular";
  }
  .slide2 {
    display: flex;
    justify-content: center;
    color: #000;
  }

  .slide2 .left {
    width: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .slide2 .left img {
    width: 0px;
  }
  .slide2 .right {
    width: 90%;
  }
  .slide2 .right img {
    width: 30px;
  }
  .slide2 .right p {
    font-size: 24px;
  }
  .slide2 .right div {
    display: none;
  }
  .slide2 .right > ul {
    width: 90%;
  }
  .slide2 .right > ul > li {
    margin: 20px 0 60px 0;
    font-size: 22px;
  }
  .slide2 .right > ul > li ul:nth-of-type(1) {
    margin-bottom: 20px;
  }

  .slide2 .right > ul:nth-of-type(2) > li > ul li {
    margin-bottom: 20px;
  }
  .slide2 .right > ul:nth-of-type(2) > li > ul li img {
    width: 40px;
  }
  .slide2 .right > ul:nth-of-type(2) > li > ul li:nth-of-type(3) img {
    width: 25px;
  }
  .slide2 .right > ul:nth-of-type(2) > li > ul li:nth-of-type(7) img {
    width: 80px;
  }
  .slide3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slide3 .background {
    background: #fff;
  }
  .slide3 img {
    width: 450px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  .slide3 .left {
    width: 100%;
  }
  .slide3 .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .slide3 .right p {
    width: 100%;
    text-align: center;
    font-size: 70px;
    margin-bottom: 10px;
  }
  .slide3 .right ul li {
    font-size: 23px;
  }
  .slide3 .right ul li a {
    font-size: 18px;
    padding: 4px 18px;
    letter-spacing: 4px;
  }
  .slide3 .right ul li:nth-child(5) {
    margin-top: 20px;
  }
  .slide4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slide4 .background {
    background: #fff;
  }
  .slide4 img {
    width: 450px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  .slide4 .left {
    width: 100%;
  }
  .slide4 .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .slide4 .right p {
    width: 100%;
    text-align: center;
    font-size: 80px;
    margin-bottom: 10px;
  }
  .slide4 .right ul li {
    font-size: 22px;
  }
  .slide4 .right ul li a {
    font-size: 18px;
    padding: 4px 18px;
    letter-spacing: 4px;
  }
  .slide4 .right ul li:nth-child(5) {
    margin-top: 20px;
  }
  .slide5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slide5 .background {
    background: #fff;
  }
  .slide5 img {
    width: 450px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  .slide5 .left {
    width: 100%;
  }
  .slide5 .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .slide5 .right p {
    width: 100%;
    text-align: center;
    font-size: 80px;
    margin-bottom: 10px;
  }
  .slide5 .right ul li {
    font-size: 22px;
  }
  .slide5 .right ul li a {
    font-size: 18px;
    padding: 4px 18px;
    letter-spacing: 4px;
  }
  .slide5 .right ul li:nth-child(5) {
    margin-top: 20px;
  }
  .slide6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slide6 .background {
    background: #fff;
  }
  .slide6 img {
    width: 450px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  .slide6 .left {
    width: 100%;
  }
  .slide6 .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .slide6 .right p {
    width: 100%;
    text-align: center;
    font-size: 42px;
    margin-bottom: 10px;
  }
  .slide6 .right ul li {
    font-size: 22px;
  }
  .slide6 .right ul li a {
    font-size: 18px;
    padding: 4px 18px;
    letter-spacing: 4px;
  }
  .slide6 .right ul li:nth-child(5) {
    margin-top: 20px;
  }
  .contact h1 {
    font-size: 60px;
  }
  .contact img {
    width: 130px;
    margin-left: 0px;
  }
  .contact .desc {
    display: flex;
    flex-direction: column;
  }
  .contact ul {
    font-size: 34px;
    font-family: "Dosis";
  }
  .contact ul li {
    margin-bottom: 16px;
  }
  .contact ul li i {
    margin-right: 10px;
  }
  .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    margin: 20px 0px !important;
    background: transparent;
    border-radius: 10px !important;
    border: 2px solid #ccc !important;
    opacity: 1;
    transition: 0.5s;
  }
  .swiper-pagination-bullet-active {
    transform-origin: right;
    border-radius: 10px;
    background: #000 !important;
    border: 2px solid transparent !important;
  }
  .contact .copyright {
    width: 100%;
    font-size: 15px;
  }
}
@media all and (max-width: 400px) {
  .menu .menubar {
    display: block;
    width: 12%;
    padding-right: 10px;
  }
  .slide1 .txt {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .slide1 .txt ul strong {
    font-size: 50px;
  }
  .slide1 .txt ul li {
    width: 100%;
    color: #000;
    font-size: 17px;
    font-family: "VarelaRound-Regular";
    margin-bottom: 0px;
  }
}
@media all and (max-width: 320px) {
  .slide1 .txt {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .slide1 .txt ul {
    height: 90%;
  }
  .slide1 .txt ul strong {
    font-size: 45px;
  }
  .slide1 .txt ul li:nth-child(1) {
    margin: 0;
  }
  .slide1 .txt ul li {
    width: 100%;
    font-size: 14px;
  }
  .slide2 .right {
    width: 80%;
    height: 95%;
  }

  .slide2 .right p {
    font-size: 20px;
    margin-top: 20px;
  }
  .slide2 .right div {
    display: none;
  }
  .slide2 .right > ul {
    width: 95%;
    height: 210px;
  }
  .slide2 .right > ul > li {
    margin: 40px 0 10px 0;
    font-size: 14px;
  }
  .slide2 .right > ul > li ul:nth-of-type(1) {
    margin-bottom: 20px;
  }

  .slide2 .right > ul:nth-of-type(2) > li > ul li {
    margin-bottom: 20px;
  }
  .slide2 .right > ul:nth-of-type(2) > li > ul li img {
    width: 28px;
  }
  .slide2 .right > ul:nth-of-type(2) > li > ul li:nth-of-type(3) img {
    width: 18px;
  }
  .slide2 .right > ul:nth-of-type(2) > li > ul li:nth-of-type(7) img {
    width: 60px;
  }
  .slide3 img {
    width: 400px;
  }
  .slide3 .left {
    width: 100%;
  }
  .slide3 .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .slide3 .right p {
    font-size: 60px;
  }
  .slide3 .right ul li {
    font-size: 20px;
  }
  .slide3 .right ul li a {
    font-size: 16px;
    padding: 4px 16px;
    letter-spacing: 2px;
  }
  .slide3 .right ul li:nth-child(5) {
    margin-top: 16px;
  }
  .slide4 img {
    width: 400px;
  }
  .slide4 .left {
    width: 100%;
  }
  .slide4 .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .slide4 .right p {
    font-size: 66px;
  }
  .slide4 .right ul li {
    font-size: 18px;
  }
  .slide4 .right ul li a {
    font-size: 16px;
    padding: 4px 16px;
    letter-spacing: 2px;
  }
  .slide4 .right ul li:nth-child(5) {
    margin-top: 16px;
  }
  .slide5 img {
    width: 400px;
  }
  .slide5 .left {
    width: 100%;
  }
  .slide5 .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .slide5 .right p {
    font-size: 76px;
  }
  .slide5 .right ul li {
    font-size: 18px;
  }
  .slide5 .right ul li a {
    font-size: 16px;
    padding: 4px 16px;
    letter-spacing: 2px;
  }
  .slide5 .right ul li:nth-child(5) {
    margin-top: 16px;
  }
  .slide6 img {
    width: 400px;
  }
  .slide6 .left {
    width: 100%;
  }
  .slide6 .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .slide6 .right p {
    font-size: 36px;
  }
  .slide6 .right ul li {
    font-size: 19px;
  }
  .slide6 .right ul li a {
    font-size: 16px;
    padding: 4px 16px;
    letter-spacing: 2px;
  }
  .slide6 .right ul li:nth-child(5) {
    margin-top: 16px;
  }
  .contact h1 {
    font-size: 50px;
  }
  .contact img {
    width: 100px;
    margin-left: 0px;
  }
  .contact .desc {
    height: 40%;
  }
  .contact ul {
    font-size: 28px;
    font-family: "Dosis";
  }
  .contact ul li {
    margin-bottom: 20px;
  }
  .contact ul li i {
    margin-right: 10px;
  }
  .contact .copyright {
    width: 100%;
    font-size: 12px;
  }
}
