@charset "uth-8";

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
#wrap {
  background: #000;
  color: #fff;
}
header .top {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #767676;
  position: fixed;
  z-index: 10;
  background-color: #000;
}
header .top .logo {
  width: 10%;

  margin-left: 20px;
}
header .top .logo img {
  width: 120px;
}
header .top .menu {
  width: 2%;
  height: 100%;
  margin-right: 20px;
  cursor: pointer;
}
header .top .menu p {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .top .menu span {
  width: 30px;
  height: 2px;
  background: #fff;
  margin: 5px 0;
  transition: 0.5s;
}
header .bar1.on {
  transform: translate(0, 12px) rotate(45deg);
}
header .bar2.on {
  opacity: 0;
}
header .bar3.on {
  transform: translate(0, -12px) rotate(-45deg);
}
.sidebar {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 81px;
  right: 0;
  background: rgba(0, 0, 0, 1);
  transition: 0.5s;
}
.sidebar .inner {
  width: 100%;
  height: 100%;
  padding: 30px 0;
}
.sidebar .inner ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar .inner ul li {
  width: 100%;
  font-size: 25px;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
}
.sidebar .inner ul li a {
  color: #ccc;
}
.sidebar .inner ul li:hover a {
  color: #fff;
}
header .poster {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 250px 0;
}
header .poster .txt {
  text-align: center;
  font-size: 35px;
  padding-bottom: 200px;
}
header .poster .inner .right > p {
  font-size: 25px;
}
header .poster .inner {
  display: flex;
  justify-content: space-between;
}
header .poster .inner img {
  width: 100%;
}
header .poster .inner .left {
  width: 50%;
}
header .poster .inner .right {
  width: 42%;
}
header .poster .inner .right ul {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
header .poster .inner .right ul li {
  width: 20%;
  margin: 0 30px 20px 0;
  font-size: 17px;
  position: relative;
}
header .poster .inner .right ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 130%;
  height: 1px;
  background: #777;
}
header .poster .inner .right ul li:nth-child(2n) {
  width: 50%;
}
section .guide {
  width: 100%;
  border-top: 1px solid #767676;
}
section .guide .inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}
section .guide .inner h2 {
  font-size: 35px;
  margin-bottom: 50px;
}
section .guide .inner ul li {
  width: 80%;
  margin-bottom: 40px;
}
section .guide .inner ul li p {
  margin-bottom: 10px;
  line-height: 30px;
}
section .program {
  width: 100%;
}
section .program .inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}
section .program .inner h2 {
  font-size: 30px;
  margin-bottom: 50px;
}
section .program .inner ul {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
}
section .program .inner ul li {
  width: 10%;
  margin: 0 10px 20px 0;
  font-size: 18px;
  position: relative;
}
section .program .inner ul li:nth-child(2n) {
  width: 80%;
}
section .recruit {
  width: 100%;
}
section .recruit .inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}
section .recruit .inner h2 {
  font-size: 30px;
  margin-bottom: 50px;
}
section .recruit .inner ul {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
}
section .recruit .inner ul li {
  width: 10%;
  margin: 0 10px 20px 0;
  font-size: 18px;
  position: relative;
}
section .recruit .inner ul li:nth-child(2n) {
  width: 80%;
}
section .application {
  width: 100%;
}
section .application .inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}
section .application .inner h2 {
  font-size: 30px;
  margin-bottom: 50px;
}
section .application .inner ul {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
}
section .application .inner ul li {
  width: 10%;
  margin: 0 10px 20px 0;
  font-size: 18px;
  position: relative;
}
section .application .inner ul li:nth-child(2n) {
  width: 80%;
}
section .teacher {
  width: 100%;
}
section .teacher .inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}
section .teacher .inner h2 {
  font-size: 30px;
  margin-bottom: 50px;
}
section .teacher .inner p {
  width: 80%;
  margin-bottom: 20px;
  line-height: 30px;
}
section .notice {
  width: 100%;
}
section .notice .inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}
section .notice .inner h2 {
  font-size: 30px;
  margin-bottom: 50px;
}
section .notice .inner ul {
  width: 80%;
}
section .notice .inner ul li {
  line-height: 30px;
}
section .inquiry {
  width: 100%;
}
section .inquiry .inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}
section .inquiry .inner h2 {
  font-size: 30px;
  margin-bottom: 50px;
}
section .inquiry .inner p {
  width: 80%;
  margin-bottom: 20px;
  line-height: 30px;
}
footer .sns {
  width: 100%;
  height: 70px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-top: 200px;
}
footer .sns .inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}
footer .sns .inner .left img {
  width: 250px;
}
footer .sns .inner .right {
  width: 8%;
}
footer .sns .inner .right ul {
  display: flex;
  justify-content: space-between;
}
footer .sns .inner .right ul i {
  font-size: 20px;
  cursor: pointer;
}
footer .list {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
footer .list .inner {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
}
footer .list .inner ul li {
  margin-bottom: 10px;
}
footer .list .inner ul li a {
  color: #ccc;
}
footer .list .inner ul li:hover a {
  color: #fff;
  transition: 0.5s;
}
footer .list .inner ul li:first-child {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
footer .list .inner ul li:first-child a {
  color: #fff;
}
footer .txt {
  width: 100%;
  height: 50px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
footer .txt .inner {
  width: 100%;
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
}
footer .txt .inner ul {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 15px;
}
footer .txt .inner ul li {
  margin-right: 100px;
}
footer .txt .inner ul li a {
  color: #ccc;
}
footer .txt .inner ul li:first-child a {
  color: #fff;
}
footer .address .inner {
  width: 100%;
  height: 150px;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .address .inner img {
  width: 100px;
}
footer .address .inner .left p {
  margin-bottom: 10px;
}
footer .address .inner .right ul {
  display: flex;
}
footer .address .inner .right ul li:first-child {
  margin-right: 20px;
}
